<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Filtro">
                <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
        </div>
    </div>

    <div class="notes-list">
        <app-card-nota [title]="'Amor'" [body]="'Este mensaje es para vos: Te amo :3 Eternamente.'"></app-card-nota>
        <app-card-nota [title]="'Cleo y Pelu'" [body]="'Las dos son monísimas, tan monas que si se juntan esplotaría el mundo. Zi claro, lo digo denserio, ademas escribo mucho para mostrarte algo.'"></app-card-nota>
    </div>

</div>